/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Dark Mode Header */
.header {
  background-color: #1e1e1e;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Header Content */
.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 40px;
}

/* Logo */
.header img {
  height: 50px;
  cursor: pointer;
}

/* Navigation */
.nav {
  display: flex;
  gap: 20px;
  max-width: max-content;
  margin: 0 auto;
  padding: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff9800;
}

.nav-link:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888888;
}

/* Search Container */
.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-input {
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #ffffff;
  transition: background-color 0.3s ease;
  min-width: 100px;
}

.search-input::placeholder {
  color: #cccccc;
}

.search-input:focus {
  outline: none;
  background-color: #444;
}

.search-button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff9800;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #e68900;
}

/* Hamburger Button */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: #ffffff;
  cursor: pointer;
}

/* Responsive Styling */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }
  .header-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 80px;
    right: 20px;
    width: 200px;
    background-color: #333;
    display: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }

  .nav.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .search-container {
    flex-grow: 1;
    margin: 0 10px;
  }

  .search-input {
    width: 70%;
  }
  .search-button {
    padding: 10px 10px;
    margin-left: 10px;
  }
}

body {
  padding-top: 80px;
}

/* Content Wrapper */
.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
